<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'sb.title.long' | translate }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary"
          routerLink="../stops">
          {{ 'sb.menu.stops' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../arrivals"
          [ngClass]="routeAnimationsElements">
          {{ 'sb.menu.arrivals' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
          [ngClass]="routeAnimationsElements">
          {{ 'sb.about.change-theme' | translate }}
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">{{ 'sb.about.check-blogs' | translate }}</span>
        <br>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank"
          href="https://material.io/design/material-theming/">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Material Theming
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="https://angular.io/cli">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Angular Cli Tips
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="https://ngrx.io/guide/store">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          Ngrx Store Typescript Tips
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2 data-testid='get-started'>{{ 'sb.about.get-started' | translate }}</h2>
        <code>git clone
          https://github.com/ashishsingh4u/sing-bus.git
          new-project</code><br>
        <code>cd new-project</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>