$sb-black-primary: mat-palette($mat-grey, BLACK, 300, 900);
$sb-black-accent: mat-palette($mat-green, A200);
$sb-black-warn: mat-palette($mat-red, 500);

$sb-black-theme: mat-dark-theme(
  $sb-black-primary,
  $sb-black-accent,
  $sb-black-warn
);
