$sb-light-primary: mat-palette($mat-grey, 200, 500, 300);
$sb-light-accent: mat-palette($mat-brown, 200);
$sb-light-warn: mat-palette($mat-deep-orange, 200);

$sb-light-theme: mat-light-theme(
  $sb-light-primary,
  $sb-light-accent,
  $sb-light-warn
);
